{% comment %}
  Shared components for Calendar XL.

  Current TRMNL Plugin Merge namespace: google_calendar_29713.
  Update this if the connected calendar instance changes.
{% endcomment %}

{% template error_state %}
{% if size == 'full' %}
<div class="flex flex--col flex--center-x flex--center-y gap--medium h--full text--center">
  <div class="value value--large md:value--xlarge lg:value--xxlarge">CAL</div>
  <div class="title title--medium md:title--large">Calendar Merge Required</div>
  <div class="description md:title md:title--small">
    Connect a native calendar plugin, hide it in your playlist, then update this template to use the merge node from TRMNL.
  </div>
</div>
{% elsif size == 'half' %}
<div class="flex flex--col flex--center-x flex--center-y gap--small h--full text--center">
  <div class="value value--medium md:value--large">CAL</div>
  <div class="title title--small md:title--medium">Merge Required</div>
  <div class="description">Connect calendar data</div>
</div>
{% elsif size == 'quadrant' %}
<div class="flex flex--col flex--center-x flex--center-y gap--xsmall h--full text--center">
  <div class="value value--small md:value--medium">CAL</div>
  <div class="description">Need merge data</div>
</div>
{% endif %}
{% endtemplate %}

{% template section_label %}
<div class="flex flex--row flex--between flex--center-y gap--xsmall">
  <span class="label {% if inverted %}label--small label--inverted{% else %}label label--small label--underline{% endif %}">
    {% if icon and icon != blank %}{{ icon }} {% endif %}{{ text }}
  </span>
  {% if meta and meta != blank %}
  <span class="label label--small {% if inverted %}label--inverted{% endif %}">{{ meta }}</span>
  {% endif %}
</div>
{% endtemplate %}

{% template title_bar %}
<div class="title_bar">
  <span class="title md:title--large">{{ title }}</span>
  {% if instance and instance != blank %}
  <span class="instance">{{ instance }}</span>
  {% endif %}
</div>
{% endtemplate %}
